html {
  -webkit-print-color-adjust: exact;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

h3 {
  margin: 0;
}

.row {
  display: flex;
}

.col {
  display: inline-block;
  width: 44%;
  margin: 0;
  padding: 20px;
}

#service-container {
  margin-top: 20px;
  padding: 20px;
}
#service-table {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

#service-table * {
  border: 1px solid #ddd;
}

#service-table td {
  word-break: break-all;
}

#service-table tr:nth-child(even) {
  background-color: #f2f2f2 !important
}

#message {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.no-border {
  border: 0 !important;
}

.no-border-row>td {
  border: 0 !important;
  ;
}

.force-border {
  border: 1px solid #000;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}